#修了課題①　Titanic

利用するデータセット：タイタニック号の搭乗者データ

合格基準：テストデータに対して正解率80%以上

データセットの中身

*   pclass： 旅客クラス（1＝1等、2＝2等、3＝3等）。(裕福さの目安)
*   name： 乗客の名前
*   sex： 性別（male＝男性、female＝女性）
*   age： 年齢。一部の乳児は小数値
*   sibsp： タイタニック号に同乗している兄弟（Siblings）や配偶者（Spouses）の数
*   parch： タイタニック号に同乗している親（Parents）や子供（Children）の数
*   ticket： チケット番号
*   fare： 旅客運賃
*   cabin： 客室番号
*   embarked： 出港地（C＝Cherbourg：シェルブール、Q＝Queenstown：クイーンズタウン、S＝Southampton：サウサンプトン）
*   boat： 救命ボート番号
*   body： 遺体収容時の識別番号
*   home.dest： 自宅または目的地

# データのダウンロード
※変更しない様、お願いいたします。

In [21]:
import pandas as pd
import numpy as np

In [1]:

# 学習用のデータのダウンロード
!wget 'https://drive.google.com/uc?export=download&id=1-12Pg5IsjNAEbgk7G4a2WqFaOhpYmbyJ' -O titanic_train.csv
# 検証用のデータのダウンロード
!wget 'https://drive.google.com/uc?export=download&id=1jmzmYNPRWUGLcHeqhcwKTGlb_d2Rzn4Y' -O titanic_validation.csv

--2025-01-26 21:59:06--  https://drive.google.com/uc?export=download&id=1-12Pg5IsjNAEbgk7G4a2WqFaOhpYmbyJ
正在解析主机 drive.google.com (drive.google.com)... 142.251.42.206
正在连接 drive.google.com (drive.google.com)|142.251.42.206|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 303 See Other
位置：https://drive.usercontent.google.com/download?id=1-12Pg5IsjNAEbgk7G4a2WqFaOhpYmbyJ&export=download [跟随至新的 URL]
--2025-01-26 21:59:07--  https://drive.usercontent.google.com/download?id=1-12Pg5IsjNAEbgk7G4a2WqFaOhpYmbyJ&export=download
正在解析主机 drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.33
正在连接 drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.33|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度：68821 (67K) [application/octet-stream]
正在保存至: “titanic_train.csv”

titanic_train.csv   100%[===================>]  67.21K  --.-KB/s  用时 0.09s

2025-01-26 21:59:10 (732 KB/s) - 已保存 “titanic_train.csv” [68821/68821])

--2025-01-26 21:59:10--  https://drive.google.com/uc?export=download&id=1jmzmYNPRWUGLcHeqhcwKTGlb_d2Rzn4Y
正在解析主机 drive.google.com (drive.google.com)... 142.251.42.206
正在连接 drive.google.com (drive.google.com)|142.251.42.206|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 303 See Other
位置：https://drive.usercontent.google.com/download?id=1jmzmYNPRWUGLcHeqhcwKTGlb_d2Rzn4Y&export=download [跟随至新的 URL]
--2025-01-26 21:59:11--  https://drive.usercontent.google.com/download?id=1jmzmYNPRWUGLcHeqhcwKTGlb_d2Rzn4Y&export=download
正在解析主机 drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.33
正在连接 drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.33|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度：17441 (17K) [application/octet-stream]
正在保存至: “titanic_validation.csv”

titanic_validation. 100%[===================>]  17.03K  --.-KB/s  用时 0.05s

2025-01-26 21:59:14 (311 KB/s) - 已保存 “titanic_validation.csv” [17441/17441])

In [2]:
# 変更しないようお願いいたします。
# 課題提出時に利用するデータのダウンロード
!wget 'https://drive.google.com/uc?export=download&id=1-1KX2NQmwUOXAstOE7c2INC1rRMNABVZ' -O titanic_test_x.csv

--2025-01-26 21:59:16--  https://drive.google.com/uc?export=download&id=1-1KX2NQmwUOXAstOE7c2INC1rRMNABVZ
正在解析主机 drive.google.com (drive.google.com)... 142.251.42.206
正在连接 drive.google.com (drive.google.com)|142.251.42.206|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 303 See Other
位置：https://drive.usercontent.google.com/download?id=1-1KX2NQmwUOXAstOE7c2INC1rRMNABVZ&export=download [跟随至新的 URL]
--2025-01-26 21:59:17--  https://drive.usercontent.google.com/download?id=1-1KX2NQmwUOXAstOE7c2INC1rRMNABVZ&export=download
正在解析主机 drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.33
正在连接 drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.33|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度：26481 (26K) [application/octet-stream]
正在保存至: “titanic_test_x.csv”

titanic_test_x.csv  100%[===================>]  25.86K  --.-KB/s  用时 0.08s

2025-01-26 21:59:20 (338 KB/s) - 已保存 “titanic_test_x.csv” [26481/26481])

In [24]:
# 学習用データ
train_df = pd.read_csv('titanic_train.csv', index_col=0)
display(train_df.head(3))

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,0,"Keeping, Mr. Edwin",male,32.5,0,0,113503,211.5,C132,C,?,45,?
1,3,0,"Hagland, Mr. Konrad Mathias Reiersen",male,?,1,0,65304,19.9667,?,S,?,?,?
2,3,0,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,?,S,?,?,?

In [25]:
# 検証用データ
val_df = pd.read_csv('titanic_validation.csv', index_col=0)
display(val_df.head(3))

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
800,1,1,"Bishop, Mr. Dickinson H",male,25,1,0,11967,91.0792,B49,C,7,?,"Dowagiac, MI"
801,2,0,"Sweet, Mr. George Frederick",male,14,0,0,220845,65.0000,?,S,?,?,"Somerset / Bernardsville, NJ"
802,3,0,"Ibrahim Shawah, Mr. Yousseff",male,30,0,0,2685,7.2292,?,C,?,?,?

In [26]:
# 学習用データと検証用データの情報
# 欠損値がないようにみえるが、？で埋められているため処理が必要。
# objectデータは数値に変換する必要がある。
train_df = train_df.replace('?', np.nan)
val_df = val_df.replace('?', np.nan)
train_df.info()
val_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     800 non-null    int64
 1   survived   800 non-null    int64
 2   name       800 non-null    object
 3   sex        800 non-null    object
 4   age        630 non-null    object
 5   sibsp      800 non-null    int64
 6   parch      800 non-null    int64
 7   ticket     800 non-null    object
 8   fare       799 non-null    object
 9   cabin      175 non-null    object
 10  embarked   800 non-null    object
 11  boat       297 non-null    object
 12  body       73 non-null     object
 13  home.dest  447 non-null    object
dtypes: int64(4), object(10)
memory usage: 93.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 800 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     200 non-null    int64
 1   survived   200 non-null    int64
 2   name       200 non-null    object
 3   sex        200 non-null    object
 4   age        169 non-null    object
 5   sibsp      200 non-null    int64
 6   parch      200 non-null    int64
 7   ticket     200 non-null    object
 8   fare       200 non-null    float64
 9   cabin      53 non-null     object
 10  embarked   199 non-null    object
 11  boat       73 non-null     object
 12  body       23 non-null     object
 13  home.dest  109 non-null    object
dtypes: float64(1), int64(4), object(9)
memory usage: 23.4+ KB

In [27]:
# 課題提出時に利用するテストデータの読み込みと表示
X_test = pd.read_csv('titanic_test_x.csv', index_col=0)
X_test.head(3)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Rosenbaum, Miss. Edith Louise",female,33,0,0,PC 17613,27.7208,A11,C,11,?,"Paris, France"
1,3,"Nysveen, Mr. Johan Hansen",male,61,0,0,345364,6.2375,?,S,?,?,?
2,3,"Eklund, Mr. Hans Linus",male,16,0,0,347074,7.7750,?,S,?,?,"Karberg, Sweden Jerome Junction, AZ"

In [28]:
X_test = X_test.replace('?', np.nan)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 309 entries, 0 to 308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     309 non-null    int64
 1   name       309 non-null    object
 2   sex        309 non-null    object
 3   age        247 non-null    object
 4   sibsp      309 non-null    int64
 5   parch      309 non-null    int64
 6   ticket     309 non-null    object
 7   fare       309 non-null    float64
 8   cabin      67 non-null     object
 9   embarked   308 non-null    object
 10  boat       116 non-null    object
 11  body       25 non-null     object
 12  home.dest  189 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 33.8+ KB

#モデルの制作

In [72]:
# ここからダウンロードされたデータに対してモデルを作成し、検証用データに対して予測結果を出力して下さい。
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder


# 前処理
def preprocess_titanic(df):
    # コピーを作成
    df = df.copy()
    
    # 全てのカテゴリ列の可能な値を事前定義
    POSSIBLE_TITLES = ['Mr', 'Miss', 'Mrs', 'Master', 'Rare']
    POSSIBLE_DECKS = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'U']
    POSSIBLE_EMBARKED = ['C', 'Q', 'S']

    # Age, Fareの欠損値を中央値で埋める
    imputer = SimpleImputer(strategy='median')
    df['age'] = imputer.fit_transform(df[['age']])
    df['fare'] = imputer.fit_transform(df[['fare']])

    # カテゴリ変数のエンコーディング
    le = LabelEncoder()
    df['sex'] = le.fit_transform(df['sex'])

    # Embarkedの欠損値を最頻値で埋める
    df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
    

    # 敬称を抽出
    df['Title'] = df['name'].str.extract('([A-Za-z]+)\.', expand=False)
    # 珍しい敬称をまとめる
    rare_titles = ['Lady', 'Countess', 'Capt', 'Col', 'Don',
                   'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona']
    df['Title'] = df['Title'].replace(rare_titles, 'Rare')
    df['Title'] = df['Title'].replace('Mlle', 'Miss')
    df['Title'] = df['Title'].replace('Ms', 'Miss')
    df['Title'] = df['Title'].replace('Mme', 'Mrs')

    # Cabinからデッキ情報を抽出
    df['Deck'] = df['cabin'].str[0]
    df['Deck'].fillna('U', inplace=True)

    # 家族サイズを作成
    df['FamilySize'] = df['sibsp'] + df['parch'] + 1
    df['IsAlone'] = (df['FamilySize'] == 1).astype(int)

    # Embarkedのone-hotエンコーディング
    for val in POSSIBLE_EMBARKED:
        df[f'Embarked_{val}'] = (df['embarked'] == val).astype(int)

    # Titleのone-hotエンコーディング
    for val in POSSIBLE_TITLES:
        df[f'Title_{val}'] = (df['Title'] == val).astype(int)

    # Deckのone-hotエンコーディング
    for val in POSSIBLE_DECKS:
        df[f'Deck_{val}'] = (df['Deck'] == val).astype(int)

    # 不要な列を削除
    columns_to_drop = ['name', 'ticket', 'cabin', 'embarked', 'Title', 'Deck', 'boat', 'body', 'home.dest']
    df.drop(columns_to_drop, axis=1, inplace=True)

    return df


processed_data = preprocess_titanic(train_df)
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 0 to 799
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pclass        800 non-null    int64
 1   survived      800 non-null    int64
 2   sex           800 non-null    int64
 3   age           800 non-null    float64
 4   sibsp         800 non-null    int64
 5   parch         800 non-null    int64
 6   fare          800 non-null    float64
 7   FamilySize    800 non-null    int64
 8   IsAlone       800 non-null    int64
 9   Embarked_C    800 non-null    int64
 10  Embarked_Q    800 non-null    int64
 11  Embarked_S    800 non-null    int64
 12  Title_Mr      800 non-null    int64
 13  Title_Miss    800 non-null    int64
 14  Title_Mrs     800 non-null    int64
 15  Title_Master  800 non-null    int64
 16  Title_Rare    800 non-null    int64
 17  Deck_A        800 non-null    int64
 18  Deck_B        800 non-null    int64
 19  Deck_C        800 non-null    int64
 20  Deck_D        800 non-null    int64
 21  Deck_E        800 non-null    int64
 22  Deck_F        800 non-null    int64
 23  Deck_G        800 non-null    int64
 24  Deck_T        800 non-null    int64
 25  Deck_U        800 non-null    int64
dtypes: float64(2), int64(24)
memory usage: 168.8 KB

<>:30: SyntaxWarning: invalid escape sequence '\.'
<>:30: SyntaxWarning: invalid escape sequence '\.'
/var/folders/ms/757dd0013vq68gzkcc19sn080000gn/T/ipykernel_12843/1395733546.py:30: SyntaxWarning: invalid escape sequence '\.'
  df['Title'] = df['name'].str.extract('([A-Za-z]+)\.', expand=False)
/var/folders/ms/757dd0013vq68gzkcc19sn080000gn/T/ipykernel_12843/1395733546.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
/var/folders/ms/757dd0013vq68gzkcc19sn080000gn/T/ipykernel_12843/1395733546.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Deck'].fillna('U', inplace=True)

In [73]:
# モデルの構築
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

def build_model(X, y):
    # 基本モデル
    rf = RandomForestClassifier(random_state=42)
    
    # パラメータグリッド
    param_grid = {
        'n_estimators': [100, 300, 500],
        'max_depth': [10, 20, 30, None],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
    }
    
    # グリッドサーチ
    grid_search = GridSearchCV(
        estimator=rf,
        param_grid=param_grid,
        cv=5,
        n_jobs=-1,
        scoring='accuracy',
    )
    
    grid_search.fit(X, y)
    
    # 最適パラメータと結果
    results = {
        'best_params': grid_search.best_params_,
        'best_score': grid_search.best_score_,
        'model': grid_search.best_estimator_,
    }
    
    # 特徴量の重要度
    feature_importances = grid_search.best_estimator_.feature_importances_
    results['feature_importances'] = feature_importances
    
    return results

X = processed_data.drop('survived', axis=1)
y = processed_data['survived']
results = build_model(X, y)

In [74]:
# 結果の表示
print(f"Best accuracy: {results['best_score']:.4f}")
print("\nTop 10 important features:")
print(results['feature_importances'][:10])

# ベストモデル
model = results['model']

Best accuracy: 0.8213

Top 10 important features:
[0.09317249 0.16502081 0.11530691 0.0340853  0.01916643 0.15432423
 0.04368264 0.00848582 0.02011796 0.00554835]

# 課題提出

In [77]:
# 提出形式見本
# 提出データの形、タイトル
# 309行、カラム名が「survived」になるようにする。
# y_pred = pd.DataFrame(np.random.choice([0, 1], 309), columns=['survived']) # 答えの形

# 例）
# networkというモデルで予測値を出した場合
process_test_X = preprocess_titanic(X_test)
y_pred = model.predict(process_test_X)
y_pred = pd.DataFrame(y_pred, columns=['survived'])

# csv形式で提出する。
y_pred.to_csv('y_pred.csv')

/var/folders/ms/757dd0013vq68gzkcc19sn080000gn/T/ipykernel_12843/1395733546.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
/var/folders/ms/757dd0013vq68gzkcc19sn080000gn/T/ipykernel_12843/1395733546.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Deck'].fillna('U', inplace=True)